{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 50px; background-color: black;">
    <div class="col-lg-4 sidebar">
        <div class="single-slidebar">
            <ul class="cat-list">
                <h4>Company</h4>
                <li><p>{{data.company}}</p></li>
                <h4>sneder</h4>
                <li><p>{{data.sender}}</p></li>
                <h4>salary</h4>
                <li><p>{{data.salary}}</p></li>
                <h4>Message</h4>
                <li><p>{{data.message}}</p></li>
                {% if data.confirm == False %}
                <form action="/admin-panel/requests/{{data.id}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{data.id}}">
                    <td><button type="submit">Aprove</button></td>
                </form>
                {% endif %}
                <form action="/admin-panel/delete-apply" method="delete">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{data.id}}">
                    <td><button type="submit">Decline</button></td>
                </form>
            </ul>
        </div>
</body>
</html>
{% endblock %}