{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 80px; background-color: black; ">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Receiver</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" value="{{receiver}}" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Company</label>
            {% for c in company %}
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{c.company}}" disabled>
            {% endfor %}
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">salary</label>
            <input type="number" class="form-control" aria-describedby="emailHelp" name="salary" placeholder="Enter what the salary you wish to pay">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="message" value="Hi, {{receiver}} Do you want start contact with us ?">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>
{% endblock %}