{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <body>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 40px; background-color: black; ">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        <!-- start banner Area -->
        <section class="banner-area relative" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner-content col-lg-12">
                        <h1 class="text-white">
                            <span>1500+ </span> Jobs posted last week				
                        </h1>	
                        <form action="/search-result" class="serach-form-area">
                            <div class="row justify-content-center form-wrap">
                                <div class="col-lg-4 form-cols">
                                    <input type="text" class="form-control" name="q" placeholder="Search by Job title">
                                </div>
                                <div class="col-lg-3 form-cols">
                                    <div class="default-select" id="default-selects2">
                                        <select name="category">
                                            {% for co in category %}
                                            <option value="{{co.id}}">{{co.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>										
                                </div>
                                <div class="col-lg-2 form-cols">
                                    <button type="submit" class="btn btn-info">
                                      <span class="lnr lnr-magnifier"></span> Search
                                    </button>
                                </div>								
                            </div>
                        </form>	
                        <p class="text-white"> <span>Search by tags:</span>
                            {% for tag in category %}
                            {{tag.title}},
                            {% endfor %}
                            </p>
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        <!-- Start features Area -->
        <section class="features-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Searching</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Applying</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Security</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Notifications</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </p>
                        </div>
                    </div>																		
                </div>
            </div>	
        </section>
        <!-- End features Area -->
        
        <!-- Start popular-post Area -->
        <section class="popular-post-area pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="active-popular-post-carusel">
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="img/p1.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/p2.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/p1.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/p2.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/p1.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/p2.png" alt="">
                                <a class="btns text-uppercase" href="#">view job post</a>
                            </div>
                            <div class="details">
                                <a href="#"><h4>Creative Designer</h4></a>
                                <h6>Los Angeles</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                                </p>
                            </div>
                        </div>																																							
                    </div>
                </div>
            </div>	
        </section>
        <!-- End popular-post Area -->
        
        <!-- Start feature-cat Area -->
        <section class="feature-cat-area pt-100" id="category">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">Featured Job Categories</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    {% for c in category %}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="/category/{{c.title}}">
                                <img src="/{{c.img}}" alt="{{c.title}}">
                            </a>
                            <p>{{c.title}}</p>
                        </div>
                    </div>
                    {% endfor %}																	
                </div>
            </div>	
        </section>
        <!-- End feature-cat Area -->
        
        <!-- Start post Area -->
        <section class="post-area section-gap">
            <div class="container">
                <div class="row justify-content-center d-flex">
                    <div class="col-lg-8 post-list">
                        {% for r in resume %}
                        <div class="single-post d-flex flex-row">
                            <div class="thumb">
                                <img src="img/post.png" alt="">
                                <ul class="tags">
                                    <li>
                                        <a href="/category/{{r.category.title}}">{{r.category.title}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="/profile/{{r.user}}"><h4>{{r.job}}</h4></a>
                                        <h6>{{r.user}}</h6>					
                                    </div>
                                    <ul class="btns">
                                        <li><a href="/apply/{{r.user.id}}">Apply</a></li>
                                    </ul>
                                </div>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span>{{r.location}}</p>
                            </div>
                        </div>
                    {% endfor %}                    
                    </div>
                    </div>
                    <div class="col-lg-4 sidebar">						

                        {% for blog in blogs %}
                        <div class="single-slidebar">
                            <h4>Carrer Advice Blog</h4>
                            <div class="blog-list">
                                <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                                    <a href="/blog/{{blog.id}}"><h4>{{blog.title}}<br></h4></a>
                                    <div class="meta justify-content-between d-flex">
                                        <p>
                                            {{blog.created_at}}
                                        </p>
                                    </div>
                                </div>																		
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>	
        </section>
    {% endblock %}
    
  